name = "blt-leaf1"
main = "src/index.py"
compatibility_date = "2024-01-01"
compatibility_flags = ["python_workers"]

[[d1_databases]]
binding = "DB"
database_name = "pr_tracker"
database_id = "ddb0df5e-60a3-402f-9137-5a385c99d055"

[vars]
ENVIRONMENT = "production"

# Configure assets (static files)
[assets]
directory = "./public"
